<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ly.com.opengles">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="ly.com.project.sample0501.Project0501Activity"
            android:label="@string/chapter_project_sample_5_1"/>
        <activity
            android:name="ly.com.project.sample0502.Project0502Activity"
            android:label="@string/chapter_project_sample_5_2"/>
        <activity
            android:name="ly.com.project.sample0503.Project0503Activity"
            android:label="@string/chapter_project_sample_5_3"/>
        <activity
            android:name="ly.com.project.sample0504.Project0504Activity"
            android:label="@string/chapter_project_sample_5_4"/>
        <activity
            android:name="ly.com.project.sample0505.Project0505Activity"
            android:label="@string/chapter_project_sample_5_5"/>
        <activity
            android:name="ly.com.project.sample0506.Project0506Activity"
            android:label="@string/chapter_project_sample_5_6"/>
        <activity
            android:name="ly.com.project.sample0507.Project0507Activity"
            android:label="@string/chapter_project_sample_5_7"/>
        <activity
            android:name="ly.com.project.sample0508.Project0508Activity"
            android:label="@string/chapter_project_sample_5_8"/>
        <activity
            android:name="ly.com.project.sample0509.Project0509Activity"
            android:label="@string/chapter_project_sample_5_9"/>
        <activity
            android:name="ly.com.project.sample0510.Project0510Activity"
            android:label="@string/chapter_project_sample_5_10"/>
        <activity
            android:name="ly.com.project.sample0511.Project0511Activity"
            android:label="@string/chapter_project_sample_5_11"/>
        <activity
            android:name="ly.com.light.sample0601.Light0601Activity"
            android:label="@string/chapter_light_sample_6_1"/>
        <activity
            android:name="ly.com.light.sample0602.Light0602Activity"
            android:label="@string/chapter_light_sample_6_2"/>
        <activity
            android:name="ly.com.light.sample0603.Light0603Activity"
            android:label="@string/chapter_light_sample_6_3"/>
        <activity android:name="ly.com.light.sample0604.Light0604Activity"
            android:label="@string/chapter_light_sample_6_4"/>
        <activity android:name="ly.com.light.sample0605.Light0605Activity"
        android:label="@string/chapter_light_sample_6_5"/>
        <activity android:name="ly.com.light.sample0606.Light0606Activity"
            android:label="@string/chapter_light_sample_6_6"/>
        <activity android:name="ly.com.light.sample0607.Light0607Activity"
            android:label="@string/chapter_light_sample_6_7"/>
        <activity android:name="ly.com.light.sample0608.Light0608Activity"
            android:label="@string/chapter_light_sample_6_8"/>
        <activity android:name="ly.com.light.sample0609.Light0609Activity"
            android:label="@string/chapter_light_sample_6_9"/>
        <activity android:name="ly.com.light.sample0610.Light0610Activity"
            android:label="@string/chapter_light_sample_6_10"/>
        <activity
            android:name="ly.com.texture.sample0704.Texture0704Activity"
            android:label="@string/chapter_texture_sample_7_4"/>
        <activity
            android:name="ly.com.texture.sample0703.Texture0703Activity"
            android:label="@string/chapter_texture_sample_7_3" />
        <activity
            android:name="ly.com.texture.sample0702.Texture0702Activity"
            android:label="@string/chapter_texture_sample_7_2" />
        <activity
            android:name="ly.com.texture.sample0701.Texture0701Activity"
            android:label="@string/chapter_texture_sample_7_1" />
        <activity
            android:name=".business.main.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_main"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>